<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-end">hola {{usuario}}! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quos, quis voluptatibus tenetur aliquid maxime rem architecto quas, mollitia sint earum inventore saepe cupiditate voluptate modi excepturi suscipit possimus libero? 
            <a class="btn btn-danger" href="">cerrar session <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
    </div>

</div>