<link rel="stylesheet" href="stylesheets/contacto.css">

<main class="holder">
            <div class="contacto">
                <h2>Contacto rapido</h2>
                <form action="/contactos" method="post" class="formulario">
                    <p>
                        <label for="">Nombre</label>
                        <input type="text" name="nombre" required>
                    </p>

                    <p>
                        <label for="">Email</label>
                        <input type="text" name="email">
                    </p>

                    <p>
                        <label for="">Telefono</label>
                        <input type="text" name="tel" required >
                    </p>

                    <p>
                        <label for="">Comentarios</label>
                        <textarea name="comentarios" ></textarea>
                    </p>

                    <p>
                        <input type="submit" value="Enviar">
                    </p>


                <p>{{message}}</p>
                </form>
            </div>

            <div class="redes">

            </div>

        </main>