<link rel="stylesheet" href="stylesheets/contacto.css">

<main class="holder">
            <div class="contacto">
                <h2>Contacto rapido</h2>
                <form action="">
                    <p>
                        <label for="">Nombre</label>
                        <input type="text" required>
                    </p>

                    <p>
                        <label for="">Email</label>
                        <input type="email">
                    </p>

                    <p>
                        <label for="">Telefono</label>
                        <input type="text" required >
                    </p>

                    <p>
                        <label for="">Comentarios</label>
                        <textarea name=""></textarea>
                    </p>

                    <p>
                        <input type="submit" value="Enviar">
                    </p>



                </form>
            </div>

            <div class="redes">

            </div>

        </main>