

<main class="holder">
            <div class="imagen">
                <img src="images/home/img01.jpg" alt="">
            </div>
            <div class="columnas">
                <div class="bienvenido">
                    <h2>Bienvenidos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum obcaecati itaque voluptate esse deserunt tenetur, accusamus at distinctio nostrum voluptatum blanditiis quos asperiores delectus sunt assumenda laborum aliquid earum.</p>

                </div>

                <div class="Testimonios">
                    <h2>Testimonios</h2>
                    <div class="testimonio">
                        <span class="cita">simplemente exelente</span>
                        <span class="autor">juana asda sadasdadsd</span>
                    </div>

                </div>
                

            </div>


        </main>