<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap" rel="stylesheet">
    <!-- Pagina -->
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/clase11.css">
</head>
<body>
     <header>
    <div class="holder">
        <div class= "logo">
            <img src ="images/logo.png" width="100" alt="">
            <h1>Transportes</h1>

        </div>
        
    </div>
    </header>
    <nav>
            <ul class="holder">
                <li><a href="/">Home           </a></li>
                <li><a href="/nosotros">Nosotros    </a></li>
                <li><a href="/servicios">serivicios</a></li>
                <li><a href="/galeria">galeria      </a></li>
                <li><a href="/novedades">Novedades  </a></li>
                <li><a href="/contactos">Contactos  </a></li>
            </ul>
        </nav>

    {{{body}}}

         <footer>Diseñado por Leonel Bellabarba</footer>
  </body>
</html>
