 <link rel="stylesheet" href="stylesheets/Clase11nosotros.css">

<main class="holder">
            <div class="historia">
                <h2>Historias</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto corporis mollitia laboriosam consectetur quidem corrupti, aliquid quam a suscipit, inventore sequi ipsa sapiente modi. Itaque nemo atque aspernatur quasi. Atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nesciunt repellendus iure cumque ab delectus tempore ipsam nulla illo repellat molestias minima facere aliquid dignissimos, veritatis, atque illum ullam quo!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam quam neque nemo asperiores aperiam autem, vel non ipsum assumenda laudantium blanditiis ducimus distinctio temporibus sint similique optio ab hic tempore Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsum commodi dicta. Ex delectus maxime ducimus obcaecati dolorem accusamus minus quod at quae nulla! Cupiditate sed nostrum culpa voluptatem provident</p>
            </div>

            <div class="staff">
                <h2>staff</h2>
            <div class="personas">

                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan gomez</h5>
                    <h6>Gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ducimus similique nostrum reprehenderit qui deserunt amet, molestiae vel minus commodi dolores eligendi ea aut. Error molestias delectus id illum? Veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorum optio vel eos reprehenderit similique voluptatibus quam. Cum porro saepe obcaecati, dolor maxime magni voluptates quas quae molestiae dolores laudantium.<p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Juan gomez</h5>
                    <h6>Gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ducimus similique nostrum reprehenderit qui deserunt amet, molestiae vel minus commodi dolores eligendi ea aut. Error molestias delectus id illum? Veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorum optio vel eos reprehenderit similique voluptatibus quam. Cum porro saepe obcaecati, dolor maxime magni voluptates quas quae molestiae dolores laudantium.<p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Juan gomez</h5>
                    <h6>Gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ducimus similique nostrum reprehenderit qui deserunt amet, molestiae vel minus commodi dolores eligendi ea aut. Error molestias delectus id illum? Veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorum optio vel eos reprehenderit similique voluptatibus quam. Cum porro saepe obcaecati, dolor maxime magni voluptates quas quae molestiae dolores laudantium.<p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Juan gomez</h5>
                    <h6>Gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ducimus similique nostrum reprehenderit qui deserunt amet, molestiae vel minus commodi dolores eligendi ea aut. Error molestias delectus id illum? Veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorum optio vel eos reprehenderit similique voluptatibus quam. Cum porro saepe obcaecati, dolor maxime magni voluptates quas quae molestiae dolores laudantium.<p>
                </div>

                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Juan gomez</h5>
                    <h6>Gerente general</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ducimus similique nostrum reprehenderit qui deserunt amet, molestiae vel minus commodi dolores eligendi ea aut. Error molestias delectus id illum? Veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorum optio vel eos reprehenderit similique voluptatibus quam. Cum porro saepe obcaecati, dolor maxime magni voluptates quas quae molestiae dolores laudantium.<p>
                </div>
            </div>

            </div>

        </main>