<link rel="stylesheet" href="stylesheets/novedades.css">
<main class="holder">
            <h2>Novedades</h2>
            <div class="novedades">
                {{#each novedades}}
                <h1>{{Titulo}}</h1>
                <h4>{{Subtitulo}}</h4>
                <p>{{cuerpo}}</p>
                <hr>
            {{/each}}
        </main>