  <link rel="stylesheet" href="stylesheets/servicios.css">
  
  <main class="holder">

            <h2>Servicios</h2>
            
            <div class="servicio">
                <img src="images/servicios/aereo.jpg" alt="">
                <div class="info">
                    <h4>Transportes Aereo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita maiores aliquid cumque in dolorem eius adipisci eum possimus doloremque accusantium, neque fuga impedit molestiae eos iste, iusto officiis? Dolores, labore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, deserunt minima nisi id sequi esse numquam eveniet aliquid rerum quibusdam similique velit eius molestias temporibus quae voluptatum libero quam facere.</p>
                </div>
            </div>


            <div class="servicio">
                <img src="images/servicios/ferroviario.jpg" alt="">
                <div class="info">
                    <h4>Transportes Aereo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita maiores aliquid cumque in dolorem eius adipisci eum possimus doloremque accusantium, neque fuga impedit molestiae eos iste, iusto officiis? Dolores, labore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, deserunt minima nisi id sequi esse numquam eveniet aliquid rerum quibusdam similique velit eius molestias temporibus quae voluptatum libero quam facere.</p>
                </div>
            </div>


            <div class="servicio">
                <img src="images/servicios/maritimo.jpg" alt="">
                <div class="info">
                    <h4>Transportes Aereo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita maiores aliquid cumque in dolorem eius adipisci eum possimus doloremque accusantium, neque fuga impedit molestiae eos iste, iusto officiis? Dolores, labore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, deserunt minima nisi id sequi esse numquam eveniet aliquid rerum quibusdam similique velit eius molestias temporibus quae voluptatum libero quam facere.</p>
                </div>
            </div>
        
            <div class="servicio">
                <img src="images/servicios/terrestre.jpg" alt="">
                <div class="info">
                    <h4>Transportes Aereo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita maiores aliquid cumque in dolorem eius adipisci eum possimus doloremque accusantium, neque fuga impedit molestiae eos iste, iusto officiis? Dolores, labore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, deserunt minima nisi id sequi esse numquam eveniet aliquid rerum quibusdam similique velit eius molestias temporibus quae voluptatum libero quam facere.</p>
                </div>
            </div>

        </main>